
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Productos</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-boxes me-1"></i> Lista de Productos
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="OpenModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="productsTable" class="display cell-border" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtId" type="hidden" value="0" />
                <form id="container" class="row">
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="product_img" height="197" width="200" class="cell-border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="productFile" accept="image/png, image/jpg, image/jpeg" onchange="ShowImage(this)" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="txtName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtName" name="P_name" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="txtDescription" class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" id="txtDescription" name="P_description" style="height: 125px; resize: none;" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="cbxBrand" class="form-label">Marca</label>
                            <select id="cbxBrand" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="cbxCategory" class="form-label">Categoría</label>
                            <select id="cbxCategory" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="txtPrice" class="form-label">Precio</label>
                            <input type="text" class="form-control" id="txtPrice" name="Price" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="txtStock" class="form-label">Stock</label>
                            <input type="number" class="form-control" id="txtStock" name="Stock" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="cbxActive" class="form-label">Activo</label>
                            <select class="form-select" id="cbxActive">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </form>
                <!--Alert Message-->
                <div class="row mt-3">
                    <div class="col-12">
                        <div id="errorMessage" class="alert alert-danger" role="alert">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        let selectedRow;

        $(document).ready(function () {
            PopulateTable();
            PopulateBrandSelect();
            PopulateCategorySelect();
        });

        //Function that shows the uploaded image in the modal
        function ShowImage(input) {
            if (input.files) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    $("#product_img").attr("src", e.target.result).width(200).height(197);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        //Function to call all brands and populate Brands table
        function PopulateTable() {
            $("#productsTable").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("GetProducts", "Mantainer")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    {
                        "data": "P_name"
                    },
                    {
                        "data": "P_description"
                    },
                    {
                        "data": "oBrand", "render": function (data) {
                            return data.B_description
                        }
                    },
                    {
                        "data": "oCategory", "render": function (data) {
                            return data.C_description
                        }
                    },
                    {
                        "data": "Price"
                    },
                    {
                        "data": "Stock"
                    },
                    {
                        "data": "Active", "render": function (value) {
                            if (value) {
                                return '<span class="badge bg-success">Si</span>';
                            } else {
                                return '<span class="badge bg-danger">No</span>';
                            }
                        }
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-edit"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-delete"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                },
            });
        }

        //Function to populate Brand Select
        function PopulateBrandSelect() {
            jQuery.ajax({
                url: '@Url.Action("GetBrands", "Mantainer")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cbxBrand");

                    $.each(data.data, function (index, item) {
                        $("<option>").attr({ "value": item.BrandId }).text(item.B_description).appendTo("#cbxBrand");
                    })
                },
                error: function (error) {
                    swal("No se pudo consultar Marcas", "Request Error!", "error");
                }
            });
        }

        //Function to populate Category Select
        function PopulateCategorySelect() {
            jQuery.ajax({
                url: '@Url.Action("GetCategories", "Mantainer")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cbxCategory");

                    $.each(data.data, function (index, item) {
                        $("<option>").attr({ "value": item.CategoryId }).text(item.C_description).appendTo("#cbxCategory");
                    })
                },
                error: function (error) {
                    swal("No se pudo consultar Categorías", "Request Error!", "error");
                }
            });
        }

        //Jquery validations
        /*
        jQuery.validator.addMethod("decimalPrice", function (value, element) {
            return this.optional(element) || /^\d{0,4}(\.\d{0,2})?$/i.test(value);
        }, "El formato correcto del precio es #.##");
        */

        $("#container").validate({
            rules: {
                P_name: {
                    required: true
                },
                P_description: {
                    required: true
                },
                Price: {
                    required: true
                    //decimalPrice: true
                },
                Stock: {
                    required: true,
                    number: true
                }
            },
            messages: {
                P_name: "- El campo Nombre es obligatorio",
                P_description: "- El campo Descripción es obligatorio",
                //Price: { required: "- El campo Precio es obligatorio", decimalPrice: "El formato correcto del precio es #.##" },
                Price: { required: "- El campo Precio es obligatorio"},
                Stock: { required: "- El campo Stock es obligatorio", number: "- Debe ingresar solo número en el Stock" }
            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        });

        //Function to open the Create/Edit Modal
        function OpenModal(json) {
            if (json != null) {
                $("#errorMessage").hide();
                $("#txtId").val(json.ProductId);
                $("#txtName").val(json.P_name);
                $("#txtDescription").val(json.P_description);
                $("#cbxBrand").val(json.oBrand.BrandId);
                $("#cbxCategory").val(json.oCategory.CategoryId);
                $("#txtPrice").val(json.Price);
                $("#txtStock").val(json.Stock);
                $("#cbxActive").val(json.Active == true ? 1 : 0);

                jQuery.ajax({
                    url: '@Url.Action("ProductImage", "Mantainer")',
                    type: "POST",
                    data: JSON.stringify({ productId: json.ProductId }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#product_img").LoadingOverlay("hide");

                        if (data.conversion) {
                            $("#product_img").attr({ "src": "data:image/" + data.extension + ";base64," + data.base64Text });
                        }
                    },
                    error: function (error) {
                        $("#product_img").LoadingOverlay("hide");

                        $("#errorMessage").show();
                        $("#errorMessage").text("Error al mostrar imagen");
                    },
                    beforeSend: function () {
                        $("#product_img").LoadingOverlay("show", {
                            imageResizeFactor: 2,
                            size: 50,
                            image: "",
                            fontawesome: "fa fa-cog fa-spin"
                        });
                    }
                });
            } else {
                $("#errorMessage").hide();

                $("#txtId").val(0);
                $("#product_img").removeAttr("src");
                $("#productFile").val("");
                $("#txtName").val("");
                $("#txtDescription").val("");
                $("#cbxBrand").val($("#cbxBrand option:first").val());
                $("#cbxCategory").val($("#cbxCategory option:first").val());
                $("#txtPrice").val("");
                $("#txtStock").val("");
                $("#cbxActive").val(1);
            }

            $("#FormModal").modal("show");
        }

        //Funcion called by onclick event to edit Brand
        $("#productsTable tbody").on("click", '.btn-edit', function () {
            selectedRow = $(this).closest("tr");
            let data = $("#productsTable").DataTable().row(selectedRow).data();
            OpenModal(data);
        });

        //Funcion called by onclick event to delete Brand
        $("#productsTable tbody").on("click", '.btn-delete', function () {
            let selectedProduct = $(this).closest("tr");
            let data = $("#productsTable").DataTable().row(selectedProduct).data();

            swal({
                title: "Está Seguro?",
                text: "¿Desea eliminar el producto?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("DeleteProduct", "Mantainer")',
                        type: "POST",
                        data: JSON.stringify({ productId: data.ProductId }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            $(".main-body").LoadingOverlay("hide");
                            if (data.result) {
                                $("#productsTable").DataTable().row(selectedProduct).remove().draw();
                            } else {
                                swal("No se puede eliminar", data.message, "error");
                            }
                        },
                        error: function (error) {
                            $(".main-body").LoadingOverlay("hide");
                            swal("No se pudo eliminar", "Request Error!", "error");
                        },
                        beforeSend: function () {
                            $(".main-body").LoadingOverlay("show", {
                                imageResizeFactor: 2,
                                text: "Cargando...",
                                size: 14,
                                image: "",
                                fontawesome: "fa fa-cog fa-spin"
                            });
                        }
                    });
                }
            );
        });

        //Function to send data to DB and Update the View's table
        function Save() {
            if (!$("#container").valid()) {
                return;
            }

            let selectedImage = $("#productFile")[0].files[0];

            let Product = {
                ProductId: $("#txtId").val(),
                P_name: $("#txtName").val(),
                P_description: $("#txtDescription").val(),
                oBrand: {
                    BrandId: $("#cbxBrand option:selected").val(),
                    B_description: $("#cbxBrand option:selected").text(),
                },
                oCategory: {
                    CategoryId: $("#cbxCategory option:selected").val(),
                    C_description: $("#cbxCategory option:selected").text(),
                },
                PriceStr: $("#txtPrice").val(),
                Price: $("#txtPrice").val(),
                Stock: $("#txtStock").val(),
                Active: $("#cbxActive").val() == 1 ? true : false
            }

            let request = new FormData();
            request.append("strObject", JSON.stringify(Product));
            request.append("imageFile", selectedImage);

            jQuery.ajax({
                url: '@Url.Action("SaveProduct", "Mantainer")',
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function (data) {
                    $(".modal-dialog").LoadingOverlay("hide");

                    //New Product
                    if (Product.ProductId == 0) {
                        if (data.generatedId != 0) {
                            $("#errorMessage").hide();

                            Product.ProductId = data.generatedId;
                            $("#productsTable").DataTable().row.add(Product).draw(false);

                            $("#FormModal").modal("hide");
                        } else {
                            $("#errorMessage").text(data.message);
                            $("#errorMessage").show();
                        }
                    //Edit Product
                    } else {
                        if (data.successfulOp) {
                            $("#errorMessage").hide();

                            $("#productsTable").DataTable().row(selectedRow).data(Product).draw(false);

                            selectedRow = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#errorMessage").text(data.message);
                            $("#errorMessage").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-dialog").LoadingOverlay("hide");

                    $("#errorMessage").text("Request Error!");
                    $("#errorMessage").show();
                },
                beforeSend: function () {
                    $(".modal-dialog").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14,
                        image: "",
                        fontawesome: "fa fa-cog fa-spin"
                    });
                }
            });
        }
    </script>
}